
$fuente:(
    titulo-mobile: 63px,
    titulo: 80px,
    subtitulo-mobile: 40px,
    subtitulo-tablet: 55px,
    subtitulo-desktop: 70px,
    h6-mobile: 15px,
    h6: 18px,
    a: 24px,
    p: 16px,
); 


/*tamaño de fonts*/
h1.titulo{font-weight: 900; font-size: 60px;}
.subtitulo{font-weight: 900;}
a{font-size:map-get($fuente, a);}
p{font-size:map-get($fuente, p);}



/*mobile*/
@media only screen and (max-width: 768px){
    .subtitulo{font-size:map-get($fuente, subtitulo-mobile);}
    .tituloI{font-size:map-get($fuente, titulo-mobile);font-weight: 900;}
    h6{font-size:map-get($fuente, h6-mobile);}
    .txt__carousel{font-size:map-get($fuente, p);}
}
/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .subtitulo{font-size:map-get($fuente, subtitulo-tablet);}
    .tituloI{font-size:map-get($fuente, titulo);font-weight: 900; text-align: center;}
    h6{font-size:map-get($fuente, h6);}
    .txt__carousel{font-size:map-get($fuente, p);}
}
/*desktop*/
@media only screen and (min-width: 1024px){
    .subtitulo{font-size:map-get($fuente, subtitulo-desktop);}
    .tituloI{font-size:map-get($fuente, titulo); font-weight: 900;}
    h6{font-size:map-get($fuente, h6);}
    .txt__carousel{font-size:map-get($fuente, a);}
}

/*text transition*/
a {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 900;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, white, white 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 201% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none; // text decorations are clipped in WebKit browsers
}
a:hover{background-position: 0 100%;}

/*tipografia*/
h1.titulo, a, .infoA{font-family: 'Bebas Neue', cursive;}
.subtitulo, h2, h3, h4, h5, h6, p{font-family: 'Mulish', sans-serif;}
.enLinea{inline-size: auto}