/*Fondo*/

.container-fluid{padding: 0px;}

$fondo:(
	celeste:#23b0cd,
	amarillo:yellow,
	opaco:#000000d1,	
);

@each $bcolor,$color in $fondo{
	.fondo__#{$bcolor}{
	background-color: $color;
	};
}

header, footer, .fondoAnimado{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

h4.subtitulo{
  background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

/*bordes*/

.bordeXY{border: 3px solid yellow;}
.marco{border: 3px solid black;}
$bordes:(
top:3px solid yellow,
bottom:3px solid yellow,
radius:20px,
);

@each $posicion,$tipo in $bordes{
	.borde__#{$posicion}{
		border-#{$posicion}:$tipo;
	};
}
